.center{
  place-items: center;
  display: grid;
  text-align: center;
}
  
#canvas{
  width: 100%;
}

#canvas_alt{
  width: 75%;
}

body{
  background-color:beige;
}

.darkgreen{
  background-color: darkgreen;
}

.header, .footer {
  padding: 20px;
}

.content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.card {
  margin-bottom: 20px;
  background-color: white;
}